<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="#" class="brand-link">
    <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Digi-Id</span>
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item user">
          <a [routerLink]="['/user']" class="nav-link" [routerLinkActive]="['active']">
            <i class="nav-icon fa fa-dashboard "></i>
            <p>
              User
            </p>
          </a>
        </li>
        <li class="nav-item buildings">
          <a [routerLink]="['/building']" class="nav-link" [routerLinkActive]="['active']">
            <i class="nav-icon fa fa-calendar "></i>
            <p>
              Buildings
            </p>
          </a>
        </li>
        <li class="nav-item hosts">
          <a [routerLink]="['/host']" class="nav-link" [routerLinkActive]="['active']">
            <i class="nav-icon fa fa-envelope-o"></i>
            <p>
              Hosts
            </p>
          </a>
        </li>
        <li class="nav-item guards">
          <a [routerLink]="['/guard']" class="nav-link" [routerLinkActive]="['active']">
            <i class="nav-icon fa fa-book"></i>
            <p>
              Guards
            </p>
          </a>
        </li>
        <li class="nav-item poe">
          <a [routerLink]="['/poe']" class="nav-link" [routerLinkActive]="['active']">
            <i class="nav-icon fa fa-plus-square-o"></i>
            <p>
              PoE
            </p>
          </a>
        </li>
        <li class="nav-item reports">
          <a [routerLink]="['/report']" class="nav-link" [routerLinkActive]="['active']">
            <i class="nav-icon fa fa-plus"></i>
            <p>
              Reports
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>